.nowrap {
    white-space: nowrap;
}

html {
	height: calc(100% - 20px);
}

body {
	min-height: 100%;
}

.navbar {
	border-radius: 0;
}

#main {
	margin: 2em;
}

#plotly {
	height: 1200px;
}

a.no-underline {
    text-decoration: none;
}

tr.divider {
    border-top: 3px solid gainsboro;
}

.panel-default>.panel-heading {
    background-color: gray;
    color: white;
}

.panel-default>.panel-heading a {
    color: white;
}

.panel-default {
    border-color: dimgray;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}