.nowrap {
    white-space: nowrap;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

.navbar {
	border-radius: 0;
}

#main {
	margin: 2em;
}

#plotly {
	height: 800px;
}

a.no-underline {
    text-decoration: none;
}

tr.divider {
    border-top: 3px solid gainsboro;
}

.panel-default>.panel-heading {
    background-color: gray;
    color: white;
}

.panel-default>.panel-heading a {
    color: white;
}

.panel-default {
    border-color: dimgray;
}
