<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Blast Motion Data Viewer</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!--     <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

     <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<!--     <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
     <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>-->
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular-route.min.js"></script>-->
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular-animate.min.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</head>
<body ng-controller="main">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#">Blast Motion</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
        </div>
    </nav>
    
    <div id=main>
        <div class="alert alert-{{alert.type}} alert-dismissable" ng-if="alert">
            {{alert.message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert.remove = true">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div ng-repeat="action in actions" ng-if="!action.valid" class="alert alert-danger">
            <i class="fa fa-exclamation-triangle"></i> <strong>Oh, snap!</strong> {{action.file.name}} isn't valid.
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div ng-if="action" class="panel panel-default">
                    <div class="panel-heading">
                        <span class="h4">Metrics</span>&nbsp;&mdash;&nbsp;<a href="" ng-click="toggle_detail_report()">{{detail_report ? "show summary" : "show details"}}</a>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Metric</th>
                                <th ng-repeat="_action in actions" ng-if="actions.length < 3">
                                    <a href="" ng-click="show(_action)" class="normal no-underline" ng-class="action == _action ? 'text-primary' : 'text-muted'">{{_action.file.name | replace : '.json' | truncate}}</a>
                                </th>
                                <th ng-if="actions.length >= 3">
                                    <div class="dropdown">
                                        <button id="actionDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{action.file.name | replace : '.json' | truncate}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="actionDropdown">
                                            <li ng-repeat="_action in actions">
                                                <a href="" ng-click="show(_action)" ng-class="action == _action ? 'text-primary' : 'text-muted'">{{_action.file.name | replace : '.json'}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th>Units</th>
                                <th>Goal</th>
                            </tr>
                        </thead>
                        <tbody ng-if="action.type == 'golf putt'">
                            <tr ng-if="detail_report">
                                <td></td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3"><a href="" ng-click="trash(action)"><i class="fa fa-trash"/></a></td>
                                <td ng-if="actions.length >= 3"><a href="" ng-click="trash(action)"><i class="fa fa-trash"/></a></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-if="detail_report">
                                <td>Starting Time</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('starting time')}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('starting time')}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-if="detail_report">
                                <td>Ending Time</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('ending time')}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('ending time')}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="divider">
                                <td>Backstroke Time</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('backstroke time') || action.metric('backswing time') | number:3}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('backstroke time') || action.metric('backswing time') | number:3}}</td>
                                <td>sec</td>
                                <td>0.6</td>
                            </tr>
                            <tr>
                                <td>Forward Stroke Time</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('forward stroke time') || action.metric('downswing time') | number:3}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('forward stroke time') || action.metric('downswing time') | number:3}}</td>
                                <td>sec</td>
                                <td>0.3</td>
                            </tr>
                            <tr>
                                <td>Total Stroke Time</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('total stroke time') || action.metric('total swing time') | number:3}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('total stroke time') || action.metric('total swing time') | number:3}}</td>
                                <td>sec</td>
                                <td></td>
                            </tr>
                            <tr class="bold info">
                                <td>Tempo Ratio</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('tempo ratio') | number:2}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('tempo ratio') | number:2}}</td>
                                <td></td>
                                <td>2.00</td>
                            </tr>
                            <tr class="divider">
                                <td>Backstroke Length</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('backstroke length') | meters_to_inches | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('backstroke length') | meters_to_inches | number:1}}</td>
                                <td>in</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Impact Stroke Speed</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('stroke speed at impact') | mps_to_mph | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('stroke speed at impact') | mps_to_mph | number:1}}</td>
                                <td>mph</td>
                                <td></td>
                            </tr>
                            <tr class="bold info">
                                <td>Backstroke Length to Impact Speed</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('forward stroke length to impact speed') | seconds_to_inches_per_mph | number:2}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('forward stroke length to impact speed') | seconds_to_inches_per_mph | number:2}}</td>
                                <td>in/mph</td>
                                <td>2.64-3.38</td>
                            </tr>
                            <tr class="bold info">
                                <td>Efficiency (D/RT)</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('efficiency') | number:2}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('efficiency') | number:2}}</td>
                                <td></td>
                                <td>0.5-0.64</td>
                            </tr>
                            <tr class="divider">
                                <td>Peak Backstroke Speed</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('peak backstroke speed') | mps_to_mph | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('peak backstroke speed') | mps_to_mph | number:1}}</td>
                                <td>mph</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Peak Forward Stroke Speed</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('peak forward stroke speed') | mps_to_mph | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('peak forward stroke speed') | mps_to_mph | number:1}}</td>
                                <td>mph</td>
                                <td></td>
                            </tr>
                            <tr class="bold info">
                                <td>Forward Stroke to Backstroke Speed</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('forward stroke to backstroke speed ratio') | number:2}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('forward stroke to backstroke speed ratio') | number:2}}</td>
                                <td></td>
                                <td>2.00</td>
                            </tr>
                            <tr class="divider" ng-if="detail_report">
                                <td>Backstroke Rotation</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('backstroke rotation') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('backstroke rotation') | degrees | number:1}}</td>
                                <td>deg</td>
                                <td></td>
                            </tr>
                            <tr class="bold info">
                                <td>Backstroke Length to Rotation Ratio</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('backstroke length to rotation ratio') | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('backstroke length to rotation ratio') | number:1}}</td>
                                <td>inches/deg</td>
                                <td></td>
                            </tr>
                            <tr ng-if="detail_report">
                                <td>Forward Stroke Rotation</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('forward stroke rotation') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('forward stroke rotation') | degrees | number:1}}</td>
                                <td>deg</td>
                                <td></td>
                            </tr>
                            <tr class="divider">
                                <td>Y Angular Velocity Peak Negative</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('y angular velocity peak negative') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('y angular velocity peak negative') | degrees | number:1}}</td>
                                <td>dps</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Y Angular Velocity Peak Positive</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('y angular velocity peak positive') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('y angular velocity peak positive') | degrees | number:1}}</td>
                                <td>dps</td>
                                <td></td>
                            </tr>
                            <tr class="bold info">
                                <td>Y Angular Velocity Peak Ratio</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('y angular velocity peak ratio') | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('y angular velocity peak ratio') | number:1}}</td>
                                <td></td>
                                <td>2.00</td>
                            </tr>
                            <tr class="divider">
                                <td>X Angular Velocity Peak</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('x angular velocity peak') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('x angular velocity peak') | degrees | number:1}}</td>
                                <td>dps</td>
                                <td>< 5</td>
                            </tr>
                            <tr ng-if="detail_report">
                                <td>X Angular Velocity Impact</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('x angular velocity impact') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('x angular velocity impact') | degrees | number:1}}</td>
                                <td>dps</td>
                                <td>< 5</td>
                            </tr>
                            <tr>
                                <td>Z Angular Velocity Peak</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('z angular velocity peak') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('z angular velocity peak') | degrees | number:1}}</td>
                                <td>dps</td>
                                <td>< 5</td>
                            </tr>
                            <tr ng-if="detail_report">
                                <td>Z Angular Velocity Impact</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('z angular velocity impact') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('z angular velocity impact') | degrees | number:1}}</td>
                                <td>dps</td>
                                <td>< 5</td>
                            </tr>
                            <tr ng-if="detail_report">
                                <td>Vertical Stroke Arc</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('vertical stroke arc') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('vertical stroke arc') | degrees | number:1}}</td>
                                <td>deg</td>
                                <td></td>
                            </tr>
                            <tr ng-if="detail_report">
                                <td>Horizontal Stroke Arc</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('horizontal stroke arc') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('horizontal stroke arc') | degrees | number:1}}</td>
                                <td>deg</td>
                                <td></td>
                            </tr>
                            <tr ng-if="detail_report">
                                <td>Face Angle to Path Impact</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('face angle to path impact') | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('face angle to path impact') | number:1}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="divider">
                                <td>Face Angle Change</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('direction angle change') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('direction angle change') | degrees | number:1}}</td>
                                <td>deg</td>
                                <td>< 1</td>
                            </tr>
                            <tr>
                                <td>Lie Angle Change</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('lie angle change') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('lie angle change') | degrees | number:1}}</td>
                                <td>deg</td>
                                <td>< 1</td>
                            </tr>
                            <tr>
                                <td>Loft Angle Change</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('loft angle change') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('loft angle change') | degrees | number:1}}</td>
                                <td>deg</td>
                                <td>< 1</td>
                            </tr>
                            <tr ng-if="detail_report">
                                <td>Lie Angle Address</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('lie angle at address') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('lie angle at address') | degrees | number:1}}</td>
                                <td>deg</td>
                                <td></td>
                            </tr>
                            <tr ng-if="detail_report">
                                <td>Loft Angle Address</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('loft angle at address') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('loft angle at address') | degrees | number:1}}</td>
                                <td>deg</td>
                                <td></td>
                            </tr>
                            <tr ng-if="detail_report">
                                <td>Lie Angle Impact</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('lie angle at impact') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('lie angle at impact') | degrees | number:1}}</td>
                                <td>deg</td>
                                <td></td>
                            </tr>
                            <tr ng-if="detail_report">
                                <td>Loft Angle Impact</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric('loft angle at impact') | degrees | number:1}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric('loft angle at impact') | degrees | number:1}}</td>
                                <td>deg</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody ng-if="action.type != 'golf putt'">
                            <tr ng-if="detail_report">
                                <td></td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3"><a href="" ng-click="trash(action)"><i class="fa fa-trash"/></a></td>
                                <td ng-if="actions.length >= 3"><a href="" ng-click="trash(action)"><i class="fa fa-trash"/></a></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-repeat="metric in action.metrics">
                                <td>{{metric.type}}</td>
                                <td ng-repeat="action in actions" ng-if="actions.length < 3">{{action.metric(metric.type) | displayValue: metric.storageUnits}}</td>
                                <td ng-if="actions.length >= 3">{{action.metric(metric.type) | displayValue: metric.storageUnits}}</td>
                                <td>{{metric.storageUnits | displayUnits}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-7">
                <div ng-if="actions.length > 1">
                    <a class="btn btn-default btn-sm" ng-class="{'active': normalize_graphs}" ng-click="toggle_normalize_graphs()">Normalize Graphs</a>
                </div>
                <div id="plotly"></div>
            </div>
        </div>
    </div>

</body>
</html>
